.badge {
  padding: 8px 16px;
  background: var(--color-blue-500);
  color: var(--color-white);
  border-radius: 4px;
  display: inline-block;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.badge-callout {
  color: var(--color-gray-900);
  background-color: var(--color-yellow-500);
}
